
    body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #e9a530, #621d00);
    background-size: 400% 400%; /* Expande o gradiente para criar um efeito suave */
    animation: moverGradiente 8s infinite alternate; /* Define a animação */
    }

    @keyframes moverGradiente {
    0% {
        background-position: 50% 50%;
    }
    50% {
        background-position: 100% 100%;
    }
    }

            .container {
            width: 100vw; /* largura total da tela */
            height: 100vh; /* altura total da tela */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container img {
            width: 400%; /* ajuste o tamanho da imagem conforme necessário */
        }

/*Modo de Cor*/
:root {
    --cor-de-fundo: linear-gradient(135deg, #e9a530, #621d00);
    --cor-primaria: #000;
    --cor-tercearia: #3b1b08;
    --cor-quartenaria: #542a10;
    --cor-quintenaria: #e48f3d;
    --cor-fonte1: #240f02;
    --cor-fonte2: #ecc98c;
}

/*Navbar*/

header {
    background-color: var(--cor-quartenaria);
    padding: 1rem 2rem;
    position: fixed;
    /* Fixa o header no topo */
    top: 0;
    left: 0;
    /* Garante que o header comece do canto esquerdo */
    width: 100vw;
    /* Ocupa toda a largura da tela */
    z-index: 1000;
    /* Mantém o header acima dos outros elementos */
}


header ul {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    list-style: none;
    padding-right: 30%;

}

header ul li a {
    text-align: right;
    text-decoration: none; /* Remove a decoração de texto */
    color: var(--cor-fonte2); /* Define a cor do texto como branca */
    font-family: 'Gliker', sans regular;
    font-weight: bold; /* Deixa o texto em negrito */
    font-size: 29px; /* Aumenta o tamanho da fonte */
}